*{
    box-sizing: border-box;
}

#spindiv{
    margin: 0;
    padding: 0;
    background-color: #34495e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.newcont{
    width: 500px;
    height: 500px;
    background-color: #ccc;
    border-radius: 50%;
    border: 15px solid #dde;
    position: relative;
    overflow: hidden;
    transition: 2s;
}

.newcont div {
    height: 50%;
    width: 200px;
    position: absolute;
    clip-path: polygon(100% 0 , 50% 100% , 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    left: 135px;
}

.newcont .one {
    background-color: blue;
    left: 50%;
}
.newcont .two {
    background-color: orange;
    transform: rotate(45deg);
}
.newcont .three {
    background-color: red;
    transform: rotate(90deg);
}
.newcont .four {
    background-color: rgb(152, 203, 251);
    transform: rotate(135deg);
}
.newcont .five {
    background-color: teal;
    transform: rotate(180deg);
}
.newcont .six {
    background-color: tan;
    transform: rotate(225deg);
}
.newcont .seven {
    background-color: darkgreen;
    transform: rotate(270deg);
}
.newcont .eight {
    background-color: firebrick;
    transform: rotate(315deg);
}

.arrow{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

.arrow::before {
    content: "\1F817";
    font-size: 40px;

}

#spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: 8px solid #fff;
    font-weight: bold;
    font-size: 20px;
    color: #a2a2a2;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
}